body {
    background: black;
}
.navbar_color {
    /* color: pink; */
    background-color: pink;
}

h1, h2, a {
    color: pink;
}

.col-md-4 {
    display: flex;
    justify-content: flex-start;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 1px;
  margin-bottom: 20px;
}
